input, select, .chosen-choices, .chosen-drop {
  margin: 10px auto 10px auto;
  border-width: calc(var(--border-width) * 1px) !important;
  border-style: solid !important;
  border-color: var(--accent) !important;
  border-radius: 5px !important;
  font-weight: bold !important;
  font-size: 20px !important;
  text-align: center;
  width: 310px;
  display: block;
}

table {
  font-weight: bold !important;
  font-size: 18px;
  text-align: center;
  border-collapse: collapse;
  margin: auto;
  min-width: 310px;
  border-radius: 5px;
}

td, th {
  border: 3px solid #ff7878;
  color: black;
  padding: 5px 10px;
}

tr:hover {
  background-color: #ff7878;
  color: white;
}

.reference_point {
  margin-top: 50px;
}

button {
  margin: auto;
  padding: 10px;
  margin-top: 20px;
  background-color: #4169e1;
  color: white;
  border: none;
  border-radius: 10px;
  min-width: 20%;
  transition: 0.35s;
}

button:hover {
  background-color: #ff7878;
}

#family_tree {
  min-width: 50%;
  margin: 50px 50px 0px 50px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal_header {
  padding: 10px 16px;
  background-color: #2d2d2d;
  color: #999999;
  border-radius: 20px 0px 20px 0px;
}

.modal_body {
  padding: 10px 16px;
  max-height: 70vh;
  text-align: center;
  overflow-y: scroll;
  overflow-x: hidden;
}

.modal_body > #search_for_edit {
  display: block;
}

.modal_body > #edit_individual {
  display: none;
}

.modal_footer {
  padding: 10px 16px;
  background-color: #2d2d2d;
  color: #999999;
  border-radius: 20px 0px 20px 0px;
}

.modal_footer > button {
  display: inline;
  margin: 0px;
  padding: 5px;
}

.cancel {
  background-color: red;
  border-radius: 0px 0px 10px 0px;
}

.save {
  background-color: green;
  border-radius: 10px 0px 0px 0px;
}

.add_individual {
  background-color: #4169e1;
  border-radius: 10px 0px 0px 0px;
}

.close_modal {
  background-color: red;
  border-radius: 0px 0px 10px 0px;
}

.delete {
  background-color: red;
  border-radius: 0px 0px 0px 0px;
  text-decoration: line-through;
}

.modal_content {
  position: relative;
  margin: 15% auto; /* 15% from the top and centered */
  background-color: #fefefe;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
  font-size: 20px;
  border-radius: 21px;
}

@keyframes animatetop {
  from {bottom: -300px; opacity: 0}
  to {bottom: 0; opacity: 1}
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #4169e1;
  text-decoration: none;
  cursor: pointer;
}